In [15]:
import numpy as np
import pandas as pd

In [48]:
employee_names = {'employee_name': ['Rizwan', 'Nafees', 'Chitan', 'Nanku', 'Shipla', 'Jyoti', 'Nancy']}
service_category = ['job_work', 'product', 'pkg_service']

In [63]:
data = pd.read_excel('DSR Nov 2019 Yash Ariyan.xlsx', header=4)

In [64]:
data.head(3)

,JOB WORK,PRODUCT,Package Service,JOB WORK.1,PRODUCT.1,Package Service.1,JOB WORK.2,PRODUCT.2,Package Service.2,JOB WORK.3,...,PRODUCT.5,Package Service.5,JOB WORK.6,PRODUCT.6,Package Service.6,JOB WORK.7,PRODUCT.7,Package Service.7,JOB WORK.8,Unnamed: 25
2019-11-01 00:00:00,8560,0,0,0,0,0,550,0,0,0,...,0,0,0,0,0,0,0,0,0,9610
2019-11-02 00:00:00,1530,780,0,550,0,0,1250,0,0,0,...,0,0,0,0,0,0,0,0,0,4110
2019-11-03 00:00:00,2850,0,0,800,0,0,1000,0,0,0,...,0,0,0,0,0,0,0,0,0,5780

In [65]:
# Uncomment and Run cell to drop the DATE column from the dataframe

# data.drop('DATE', axis=1,inplace=True)
# data.head(3)

KeyError: "['DATE'] not found in axis"

In [44]:
data_clean = {}
x=0
for category in service_category:
    
    if category not in data_clean.keys():
        data_clean[category] = {}
        
df = pd.DataFrame(data_clean)

employee_col = pd.DataFrame(employee_names)
df = pd.concat([df,employee_col], axis=1)
df

   job_work  product  pkg_service employee_name
0       NaN      NaN          NaN       Rizwaan
1       NaN      NaN          NaN        Nafees
2       NaN      NaN          NaN        Chitan
3       NaN      NaN          NaN         Nanku
4       NaN      NaN          NaN        Shipla
5       NaN      NaN          NaN         Jyoti
6       NaN      NaN          NaN         Nancy